<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="60">
    <Properties>
        <Property name="LOG_DIR">${sys:app.log.dir:-logs}</Property>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%t] [%X{requestId}] %logger{60} - %msg%n%throwable</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <RollingFile name="ApplicationFile"
                     fileName="${LOG_DIR}/application.log"
                     filePattern="${LOG_DIR}/archive/application-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30">
                <Delete basePath="${LOG_DIR}/archive" maxDepth="1">
                    <IfFileName glob="application-*.log.gz"/>
                    <IfLastModified age="30d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="ErrorFile"
                     fileName="${LOG_DIR}/error.log"
                     filePattern="${LOG_DIR}/archive/error-%d{yyyy-MM-dd}-%i.log.gz">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30">
                <Delete basePath="${LOG_DIR}/archive" maxDepth="1">
                    <IfFileName glob="error-*.log.gz"/>
                    <IfLastModified age="60d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="SecurityFile"
                     fileName="${LOG_DIR}/security.log"
                     filePattern="${LOG_DIR}/archive/security-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30">
                <Delete basePath="${LOG_DIR}/archive" maxDepth="1">
                    <IfFileName glob="security-*.log.gz"/>
                    <IfLastModified age="60d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="com.JavaProje.KurumArizaTakipSistemi.interceptor.RequestLoggingInterceptor" level="INFO" additivity="false">
            <AppenderRef ref="ApplicationFile"/>
            <AppenderRef ref="ErrorFile"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="com.JavaProje.KurumArizaTakipSistemi.interceptor" level="INFO" additivity="false">
            <AppenderRef ref="ApplicationFile"/>
            <AppenderRef ref="ErrorFile"/>
            <AppenderRef ref="SecurityFile"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="org.hibernate.SQL" level="WARN"/>
        <Logger name="org.hibernate.orm.jdbc.bind" level="WARN"/>
        <Logger name="org.springframework" level="WARN"/>

        <Root level="INFO">
            <AppenderRef ref="ApplicationFile"/>
            <AppenderRef ref="ErrorFile"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
